APP_ENV=dev
APP_HOST=0.0.0.0
APP_PORT=8000
API_PREFIX=/api/v1
LOG_LEVEL=INFO
OCR_ENGINE=paddleocr
PDF_RENDER_DPI=300
ATTEMPTS_DIR=attempts
JOBS_DB_PATH=storage/jobs.sqlite3
UPLOADS_DIR=storage/uploads
JOBS_RETENTION_DAYS=30
JOB_WORKER_THREADS=4
RENDERED_PAGES_DIR=tmp/rendered_pages
RENDERED_PAGES_RETENTION_HOURS=24
PADDLEOCR_LANGUAGE=ru
PADDLEOCR_USE_ANGLE_CLS=false
PADDLEOCR_BASE_DIR=.venv/paddleocr-models
PADDLEOCR_DET_MODEL_NAME=PP-OCRv5_mobile_det
PADDLEOCR_REC_MODEL_NAME=cyrillic_PP-OCRv5_mobile_rec
PADDLEOCR_TEXTLINE_ORIENTATION_MODEL_NAME=PP-LCNet_x0_25_textline_ori
PADDLEOCR_DET_MODEL_DIR=.venv/paddleocr-models/models/PP-OCRv5_mobile_det_infer
PADDLEOCR_REC_MODEL_DIR=.venv/paddleocr-models/models/cyrillic_PP-OCRv5_mobile_rec_infer
PADDLEOCR_TEXTLINE_ORIENTATION_MODEL_DIR=.venv/paddleocr-models/models/PP-LCNet_x0_25_textline_ori_infer
